body {
    background-color: azure;
}

header {
    text-align: center;
}

footer {
    padding: 2em;
    background-color: cadetblue;
    color: aliceblue;
}

footer p {
    text-align: center;
}

.section-header{
    display: inline;
    margin-right: 1em;
}

section:first-child{
    margin-top: 2em;
}

#logo {
    height: 120px;
    width: auto;
}

/* **************** */
/*  GALERIA         */
/* **************** */
.pswp__caption__center {
    text-align: center;
}
figure {
    display: inline-block;
    width: 33.333%;
    float: left;
}
    
figure img {
    width: 100%;
}